* {
    box-sizing: border-box;
    line-height: 1.2;
}

body {
    margin: 0;
    padding: 0;
}

.img-responsive {
    background-image: url("../images/Finder-HP.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.jumbotron {
    margin-top: 6rem;
}

.card {
    padding:1rem;
    margin: 2rem auto;
}
#last-card {
    margin-bottom: 0;
}

footer {
    background: black;
    padding: 0.5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#submit {
    margin-bottom: 4rem;
}